<h1 class="loginh1">Iniciar sesion</h1>
<div class="loginDiv">
  <div class="loginDiv1">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div class="loginDiv1">
    <mat-form-field class="w-full">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput />
    </mat-form-field>
  </div>
  <div class="loginButton">
    <button routerLink="/dashboard" mat-fab extended color="primary" class="button">Ingresar</button>
  </div>
</div>
<div class="loginP">
  <p routerLink="/dashboard">¿No tienes una cuenta? Registrate aqui</p>
</div>
