main {
    height: 100vh;
    background-color: rgba(63, 81, 181, 0.87);;
}

.authMain {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    .authDiv{
        width: 20rem;
        height: auto;
    }
}