<div class="Grid">
  <div> 
    <mat-card>
      <mat-card-header>
        <mat-card-title class="Titulo">
          Cursos <mat-icon>shopping_cart</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <!-- Contenido -->
      <mat-card-content>
        <p class="Cantidad">10</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="Titulo">
          Profesores
        </mat-card-title>
      </mat-card-header>
      <!-- Contenido -->
      <mat-card-content>
        <p class="Cantidad">5</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="Titulo">
          Alumnos
        </mat-card-title>
      </mat-card-header>
      <!-- Contenido -->
      <mat-card-content>
        <p class="Cantidad">30</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
