<div class="ListaDashboard">
    <button class="buttonDashboard" mat-raised-button color="primary" routerLink="home">Inicio</button>
    <button class="buttonDashboard" mat-raised-button color="primary" routerLink="">Cursos</button>
    <button class="buttonDashboard" mat-raised-button color="primary" routerLink="Alumnos">Alumnos</button>
    <button class="buttonDashboard" mat-raised-button color="primary" routerLink="">Profesores</button>
    <button class="buttonDashboard" mat-raised-button color="primary" routerLink="../auth/login">Cerrar secion</button>
  </div>
