<mat-drawer-container class="example-container" autosize>
<!-- SIDEBAR -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-nav-menu></app-nav-menu>
    </mat-drawer>
  <!-- CONTENT WRAPPER -->
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button 
            (click)="drawer.toggle()"
            mat-icon-button class="example-icon" 
            aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>Escuela de Programación</span>
          </mat-toolbar>

          <main>
            <router-outlet></router-outlet>
            <app-home></app-home>
            <!-- <app-users2></app-users2> -->
          </main>

    </div>
  </mat-drawer-container>
  
