.divButton {
    display: flex;
    justify-content: end;
}

.field {
    margin: 10px;
}

.Titulo {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.DivContenedor {
    width: 550px;
    display: flex;
    justify-content: space-around;
}

.divNombres {
    display: flex;
}

.divEmail {
    display: flex;
}

